<header>
    <h1> 
        <a href="/">HOME</a>
    </h1>
    <div class="nav-toggle">
        <button class="hamburger hamburger--squeeze" type="button" aria-label="navigation-toggle" >
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
    {% include "partials/nav.njk" %}
</header>
