<nav>
    <ul>
         <li>
            <a href="/subpage1/">Subpage 1</a>
        </li>
        <li>
            <a href="/subpage2/">Subpage 2</a>
        </li>
        <li>
            <a href="/subsub/">Subsubpages Index</a>
        </li>
    </ul>
</nav>