<nav>
    <ul>
         <li>
            <a href="/page1/">Subpage 1</a>
        </li>
        <li>
            <a href="/page2/">Subpage 2</a>
        </li>
        <li>
            <a href="/subpage/">Subpage Index</a>
        </li>
    </ul>
</nav>